.register_container{
     width: 40%;

}

.register_container h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.register_container button{
    margin-top: 10px;
    width: 100%;
}